#main-home{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top:300px;
    width: 50%;
    

}

#resultp {
    margin-left: 40%;
    margin-top: 20px;
    
}

#datepicker{
    margin-left: 5px;
    margin-right: 5px;
}


